* { 
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
}
li {
   list-style-type: none; 
}
a { 
   text-decoration: none; color: #2F2F2F; 
}
body {
    background-color: #F5F1E8;
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.section-header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}
.logo-nombre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 32%;
}
.espacio-logo {
    align-self: center;
    margin-right: 2px;
}
.logo {
    width: 60px;    
    border-radius: 20%; 
}
h1 {
    color: #C87B5C;
    font-size: 34px;
    margin: 20px;
}
.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
}
.busq-header {
    width: 262.5px;
    height: 24px;
    border-radius: 5px;
    color: #2C1810;
    background-color: #F5F1E8;
    align-self: center;
    margin-right: 2px;
    border: 2px solid #DCCDBC;
}
.boton-header {
    width: 113px;
    height: 25px;
    border-radius: 5px;
    border: none;
    background-color: #C87B5C;
    color: #F5E6CC;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    align-self: center;
    margin-left: 2px;
}
.navegacion-horizontal {
    width: 34%;
}
.ul1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.li1 {
    width: 113x;
    text-align: center;
    background-color: #C87B5C;
    padding: 3px 22px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
    color: #F5E6CC;
}
.a-header {
    color:#F5E6CC;
}
.section-banner {
    width: 100vw;
}
.banner {
    width: 100%;
}
.main-catalogo {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.nav-vertical {
    padding: 20px;
    width: 270px;
    background-color: #DCCDBC;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo-categorias {
    color: #2F2F2F;
    font-size: 25px;
}
.ul2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.li2 {
    color: #2F2F2F;
    font-size: 14px;
    margin: 20px;
    font-weight: 700;
}
.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}
.top {
    color:  #C87B5C;
    font-size: 20px;
    margin: 10px;
}
.catalogo-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
}
.productos-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 169.5px;
    margin: 5px 5px 10px 5px;
    padding: 10px;
    border: 4px solid  #E4E2DD;
    background-color: #DCCDBC;
    border-radius: 8px;
}
.imagen-top {
    width: 100%;
    height: 130px;
    border-radius: 8px;
}
h4 {
    color: #2C1810;
    font-size: 14px;
    margin: 10px 0 10px 0;
}
.p-producto{
    color: #2F2F2F;
    font-size: 12px;
    margin: 5px 0 5px 0;
}
.ver-detalle {
    background-color: #C87B5C;
    color:#EAD2AC;
    padding: 3px 8px 3px 8px;
    width: 80px;
    text-align: center;
    font-size: 13px;
    border-radius: 4px;
    margin-top: 2px;
}
.catalogo-aleatorio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.productos-aleatorios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 215px;
    margin: 5px 5px 10px 5px;
    border: 4px solid #E4E2DD ;
    background-color: #EAD2AC;
    padding: 10px;
    border-radius: 8px;
}
.imagen-aleatorios {
    width: 100%;
    height: 170px;
    border-radius: 8px;
}

.product-reviews{
    color: #2C1810;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 10px 0;
}
.product-section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #DCCDBC;
    border-radius: 4px;
    padding: 16px;
    width: 750px;  
}
.foto-latte {
    width: 250px;
}
.producto-latte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    padding: 5px;
}
h3 {
    display: flex;
    justify-content: center;
    align-self: center;
    color: #2C1810;
}
.product-section2 {
    display: flex;
    flex-direction: column;
    background-color: #DCCDBC;
    border-radius: 4px;
    padding: 15px;
    width: 750px;   
}
.titulo-latte {
    color: #2F2F2F;
    margin-top: 4%;
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid #c9ad87;
    border-radius: 4px;
    padding: 20px;
    background-color: #ffffff;
}
.tags {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.personas {
    font-size: 16px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#2C1810;
    background-color: #DCCDBC ;
    margin: 40px 5px 0px 5px;
    border-radius: 4px;
    font-size: 16px;
}
.productos-categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 270px;
    margin: 5px 5px 10px 5px;
    background-color: #DCCDBC;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border: 5px solid #E4E2DD ;
}
.imagen-categorias {
    width: 100%;
    border-radius: 8px;
    height: 230px;
}
.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form-register {
    background-color: #DCCDBC;
    padding: 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 30px 0px 10px 0;
    height: auto;
    justify-content: center;
}
.titulo {
    font-weight: 600;
    font-size: 15px;
    color: #2C1810;
}
.cajita {
    border: 3px #F5E6D3;
    height: 30px;
}
.obl {
    margin:2px 0 30px 0;
    font-size: 13px;
    color:rgba(192, 27, 27);
}
.terminos {
    font-size: 13px;
    margin: 10px 0 10px 0;
    color: #2C1810;
}
.button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit {
    margin: 30px 200px 10px 200px;
    background-color: rgba(192, 27, 27, 0.9);
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 4px;
}

@media(max-width: 450px) {
    .main-index {
        width: 100vw;
    }
    .section-header1 {
        display: flex;
        flex-direction: column;
    }
    h1 {
        text-align: center;
        font-size: 30px;
    }
    .logo-nombre {
        margin-top: 10px;
        width: 500px;
    }
    .logo {
        width: 80px;
    }
    .navegacion-horizontal {
        margin-bottom: 10px;
        margin-top: 7px;
    }
    .busq-header {
        height: 20px;
    }
    .boton-header {
        height: 22px;
        width: 113px;
    }
    .li1 {
        font-size: 11.5px;
    }
    .boton-header {
        font-size: 12px;
    }
    .titulo-categorias {
        margin: 5px;
        font-size: 15px;
    }
    .main-catalogo {
        flex-direction: column;
    }
    .nav-vertical {
        padding: 1px;
        width: 100%;
        margin-bottom: 10px;
    }
    .ul2 {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    .li2 {
        margin: 7px;
        text-align: center;
        font-size: 11px;
    }
    .top {
        font-size: 21px;
    }
    .catalogo-top {
        width: 315px;
    }
    .productos-top {
        width: 146.5px;
        padding: 8px;
    }
    .p-producto {
        font-size: 11px;
    }
    .catalogo-aleatorio {
        width: 315px;
    }
   .productos-aleatorios {
        width: 146.5px;
        padding: 8px;
    }
    .imagen-aleatorios {
        height: 130px;
    }
   .productos-categoria {
        width: 146.5px;
        padding: 8px;
    }
    .imagen-categorias {
        height: 135px;
    }
    .form-register {
        width: 310px;
        padding: 30px;
    }
    .titulo {
        font-size: 13px
    }
    .cajita {
        height: 20px;
    }
    .submit {
        margin: 10px;
    }
    .product-section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .foto-latte {
        width: 170px;
    }
    .producto-latte {
        width: 100%;
    }
    .product-section2 {
        width: 100%;
    }
    .product-reviews{
        font-size: 12px;
    }
    h3 {
        font-size: 16px;
    }
    .personas {
        font-size: 12px;
    }
}