* { 
   box-sizing: border-box; 
}
body {
    margin: 0;
 }	
ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
   text-decoration: none; color: #000; 
}
body {
    background-color: #2C1810;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;  
}
.section-header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}
.logo-nombre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
}
.espacio-logo {
    width: 16.5%; 
    align-self: center;
    margin-right: 2px;
}
.logo {
    width: 100%;    
    height: auto;    
    border-radius: 20%; 
}
h1 {
    color: #D4A373;
    font-size: 35px;
    font-family: "Bitter", serif;
    margin-left: 2px;
}
.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;
    height: 60px;
}
.busq-header {
    width: 65%;
    height: 40%;
    border-radius: 8px;
    color: #F5E6CC;
    background-color: #F5E6CC;
    align-self: center;
    margin-right: 2px;
    border: 2px solid #D4A373;
}
.boton-header {
    width: 28%;
    height: 45%;
    border-radius: 8px;
    border: none;
    background-color: #1B4D3E;
    color: #F5E6CC;
    font-family: "Open Sans", sans-serif;
    font-size: auto;
    align-self: center;
    margin-left: 2px;
}
.navegacion-horizontal {
    width: 33%;
}
.ul1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.li1 {
    width: 29%;
    height: 43%;
    text-align: center;
    color:#F5E6CC;
    background-color: #1B4D3E;
    padding: 3px 22px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    border-radius: 8px;
    margin-right: 2px;
    margin-left: 2px;
}
input {  
  border-radius: 6px;          
  font-size: 14px;
}
.section-banner {
    width: 100vw;
}
.banner {
    width: 100%;
}
.main-catalogo {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.li2 {
    color: #2C1810;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 20px;
    font-weight: 700;
}
.titulo-categorias {
    color: #2C1810;
    font-family: "Bitter", serif;
    margin: 30px 0 40px 20px;
}
.nav-vertical {
    padding: 20px;
    width: 20%;
    background-color: #EAD2AC;
    border-radius: 8px;
}
.top {
    color:  #D4A373;
    font-family: "Bitter", serif;
    margin-top: 4%;
}
.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 60px;
}
.catalogo-top {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productos-top {
    width: 18.5%;
    margin: 5px 5px 10px 5px;
    height: auto;
    padding: 10px;
    border: 4px solid  #D4A373;
    background-color: #EAD2AC;
    border-radius: 12px;
}
.imagen-top {
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.titulo-producto {
    color: #2C1810;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.p-producto{
    color: #2C1810;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}
.ver-detalle {
    background-color: rgba(192, 27, 27, 0.9);
    color:#EAD2AC;
    padding: 3px 8px 3px 8px;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    font-family: "Roboto Slab", serif;
    border-radius: 6px;
    
}
.catalogo-aleatorio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
}
.productos-aleatorios {
    width: 23.5%;
    margin: 5px 5px 10px 5px;
    border: 4px solid #1B4D3E ;
    background-color: #EAD2AC;
    height: auto;
    padding: 10px;
    border-radius: 12px;
}
.imagen-aleatorios {
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#2C1810;
    background-color: #EAD2AC ;
    margin: 40px 5px 0px 5px;
    border-radius: 10px;
    font-family: "Open Sans", sans-serif;
}
.productos-categoria {
    width: 31%;
    margin: 5px 5px 10px 5px;
    background-color: #EAD2AC;
    height: auto;
    padding: 10px;
    border-radius: 12px;
    border: 5px solid #1B4D3E ;

}
.imagen-categorias {
    width: 100%;
    height: 205px;
    border-radius: 10px;
}
.form-register {
    background-color: #EAD2AC;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px 0px 10px 200px;
    height: 70%;
}
.titulo {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #2C1810;
}
.cajita {
    border: 3px #F5E6D3;
    height: 30px;
}
.obl {
    margin: 0 0 30px 0;
    font-size: 16px;
    color:rgba(192, 27, 27);
}
.terminos {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin: 10px 0 10px 0;
    color: #2C1810;
}
.button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit {
    margin: 30px 200px 10px 200px;
    background-color: rgba(192, 27, 27, 0.9);
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
}

@media(max-width: 450px) {
    .main-index {
        width: 100vw;
    }

}

