* { 
   box-sizing: border-box; 
}
	body {
    margin: 0;
 }	
ul, ol {
   padding: 0;
 }
li {
   list-style-type: none; 
}

a { 
   text-decoration: none; color: #000; 
}
body {
    background-color: #2C1810;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;  
}
.section-header1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;  
}
.espacio-logo {
    width: 4.5%; 
    margin: 1.2% 1.1% 1.1% 3%;
}
.logo {
    width: 100%;    
    height: auto;    
    border-radius: 50%; 
}
.formulario {
    width: 18%;
}
.navegacion-horizontal {
    width: 15%;
    margin: 1% 0;
}
.ul1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.li1 {
    text-align: center;
    color:#2C1810;
    background-color:#EAD2AC ;
    padding: 3px 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border-radius: 8px;
    font-weight: 600;
}
input {  
  border-radius: 6px;          
  font-size: 14px;
}
.section-banner {
    width: 100vw;
}
.banner {
    width: 100%;
}
.main-catalogo {
    display: flex;
    flex-direction: row;
    width: 100vw;
}
.ul2 {
    padding: 20px;
}
.li2 {
    color:  #2C1810;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 20px;
}
.nav-vertical {
    width: 20%;
    background-color: rgba(234, 210, 172, 0.8);
    border-radius: 8px;
}
.top {
    color: #EAD2AC;
    font-family: "Work Sans", sans-serif;
    margin-top: 3%;
}
.catalogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-left: 60px;
}
.catalogo-top {
    display: flex;
    flex-direction: row;
    width: 85%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.productos-top {
    width: 17%;
    margin: 5px 5px 10px 5px;
    height: 21%;
}
.imagen-top {
    width: 100%;
    height: 130px;
    border-radius: 10px;
}
.titulo-producto {
    color: #EAD2AC;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.p-producto{
    color: #EAD2AC;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 13px;
}
.ver-detalle {
    background-color: #EAD2AC;
    color:#2C1810;
    padding: 3px 8px 3px 8px;
    width: 40%;
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    border-radius: 6px;
}
.catalogo-aleatorio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    justify-content: space-between;
}
.productos-aleatorios {
    width: 22%;
    margin: 5px 5px 10px 5px;
}
.imagen-aleatorios {
    width: 100%;
    height: 170px;
    border-radius: 10px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:#2C1810;
    background-color:#EAD2AC ;
    margin: 40px 5px 0px 5px;
    border-radius: 10px;
}
.productos-categoria {
    width: 31%;
    margin: 5px 5px 0 5px;
    margin: 5px 5px 10px 5px;
}
.imagen-categorias {
    width: 100%;
    height: 205px;
    border-radius: 10px;
}
.form-register {
    background-color: rgba(234, 210, 172, 0.8);
    padding: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 30px 0px 10px 200px;
    height: 70%;
}
.titulo {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
}
.cajita {
    border: none;
    height: 30px;
}
.obl {
    margin: 0 0 30px 0;
    font-size: 13px;
    color: rgb(122, 15, 15);
}
.terminos {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 10px 0 10px 0;
}
.button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.submit {
    margin: 30px 200px 10px 200px;
    background-color: #2C1810;
    color: white;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
}

@media(max-width: 450px) {
    .main-index {
        width: 100vw;

    }
}

